.container {
    width: 100%;
    height: 100%;
    margin-top: 2em;
    margin-bottom: 0;
    
}


.container > .row {
    width: 1000px;
    margin: 0 calc(50% - 500px);

}


@media (max-width: 900px) {
    .container > .row {
        width: 600px;
        margin: 0 calc(50% - 300px);
        
    }
}

@media (max-width: 700px) {
    .container > .row {
        width: 400px;
        height: 350px;
        margin: 0 calc(50% - 200px);    
    }
    .right-column {
        height: 18em;
    }
}

@media (max-width: 460px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
      
    
    }
}

